h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 2%;
  font-weight: 200;
  color: brown
  /* border: 2px solid blue;  */
};

#sales {
  margin-left: 50%;
}

.salmon img:nth-of-type(1) {
  display:inline-flex;
  margin-left: 33%;
  margin-bottom: 14px;
  /* justify-content:first baseline;  */
}

.salmon img:nth-of-type(2) {
  display:inline-flex;
  margin-left: 0%;
  
}
.hour {
  font-size: 30px;
}

#address {
  margin-left: 5%;
  line-height: 20px;
}

img {
  /* display: flex;
  justify-content: center; 
  align-items: center; */
  width: 300px;
  align-self: center;
  margin-left: 40%;
  /* margin-left:40px; */
  /* text-align: center; */
  /* border: 2px solid red; */
  margin-top: 2%;
}

.mainText {
  height: fit-content;
  display: flex;
  text-align: center;
  font-style: italic;
  font-size: large;
  margin-left: 5%;
  margin-top: 2%;
  /* justify-content: center;
  align-items: center;
  align-self: center; */
}

.mainText p:nth-of-type(1){
  width: 500px;
  /* border: 1px solid black; */
}

.mainText p:nth-of-type(2){
  width: 400px;
  border: 1px solid brown;
  margin-left: 2%;
  text-align: center;
}

.mainText p:nth-of-type(3){
  width: 400px;
  /* border: 1px solid brown; */
  margin-left: 2%;
  font-style: normal;
}

#littleSalmon {
  border-radius: 50%; width: 50px;
  display: inline-flex;
  margin:2px

}

#shirt {
  margin-left: 0;
  display: inline-block;
  width: auto;
}

#fourFish {
  margin-top: 40px;
}
#homepage {
  /* text-align:justify; */
  margin-left: 5%;
  margin-top: 30px;
}

/*JS elements */
#location {
  background-color: antiquewhite;
  display: inline-block;
  margin: 2% 2%;
  border: 1px solid black;
}

#table {
  margin: 2%;
}
#storeHours {
  border: 1px solid black;
}

tr {
  border: 1px solid black;
  background-color: aqua;
  padding:2px;
}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
 padding: 5px;
}


/*Form and Event */

#form {
  display: flex;
  flex-direction: column;
}

/* #homepage {
  padding: 2%;
  font-size: larger;
  font-weight: 300;
}

#lastEl {
	padding: 1%;
}

#lastNums {
	border: 1px solid black;
	padding: 1%;
}

#sales {
	border: 1px solid black;
	padding: 1%;
}

#storeHours {
	letter-spacing: 10%;
}

#cities {
	border: 1px solid black;
	padding: 1%
} */
