h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 2%;
  font-weight: 200;
  color: brown;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
};

#sales {
  margin-left: 50%;
}

.salmon img:nth-of-type(1) {
  display:inline-flex;
  margin-left: 33%;
  margin-bottom: 14px;
  padding-bottom: 15px;
}

.salmon img:nth-of-type(2) {
  display:inline-flex;
  margin-left: 0%;
  background-color: transparent;
  padding-bottom: 15px;
}

.salmon {
  background-color: white;
  height: fit-content;
}
.hour {
  font-size: 30px;
}

#address {
  margin-left: 5%;
  line-height: 20px;
}

img {
  width: 300px;
  align-self: center;
  margin-left: 40%;
  margin-top: 2%;
}

.mainText {
  height: fit-content;
  display: flex;
  text-align: center;
  font-style: italic;
  font-size: large;
  margin-left: 5%;
  margin-top: 2%;
}

.mainText p:nth-of-type(1){
  width: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #455b55;
  /* border: 1px solid black; */
}

.mainText p:nth-of-type(2){
  width: 400px;
  border: 1px solid brown;
  margin-left: 2%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #002f06;
}

.mainText p:nth-of-type(3){
  width: 400px;
  /* border: 1px solid brown; */
  margin-left: 2%;
  font-style: normal;
}

#littleSalmon {
  border-radius: 50%; width: 50px;
  display: inline-flex;
  margin:2px

}

#shirt {
  margin-left: 0;
  display: inline-block;
  width: auto;
}

#fourFish {
  margin-top: 40px;
  background-color: transparent;
}
#homepage {
  /* text-align:justify; */
  margin-left: 5%;
  margin-top: 30px;
}

/*JS elements */
#location {
  background-color: antiquewhite;
  display: inline-block;
  margin: 2% 2%;
  border: 1px solid black;
}

#table {
  margin: 2%;
}
#storeHours {
  border: 1px solid black;
}

tr {
  border: 1px solid black;
  background-color: aqua;
  padding:2px;
}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
 padding: 5px;
}


/*Form and Event */

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 2%;
  margin-top: 2%;
  font-style: oblique;
}
label, input, textarea {
  display: block;
  margin-bottom: 10px;
}
.legend {
  margin: 2%;
  font-size: large;
  background-color: antiquewhite;
}

body{
  background-color: #c2fdc5;
}